/* Write your CSS here */

.popup-container {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.player {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

.button {
  color: red;
  align-self: flex-start;
  margin: 30px;
  border: 1px solid red;
}
